@charset "utf-8";

.menu .extend {
	background: #3F51B5 !important;
	}
	
.menu .container {
	background: #3F51B5 !important;
	}
	
#menu, .submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}



#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}




/* MAIN MENU */


#menu {
	float: right;
}

#menu li {
    float: left;
}

#menu a {
    float: left;
    font-size: 1em;
    font-family: grlight;
    color: #EAEAEA;
    text-decoration: none;
    margin: 1em 0em 1em 1em;
    line-height: 0;
    transition: color 0.3s ease-out;
    
}

#menu li:hover > a {
    color: #FF80AB;
}

/* SUB MENU */

.submenu {
	border-top: 0.1em solid #FF80AB;
	display: none;
	clear: both;
	float: right;
}

.submenu li {
    float: left;
}

.submenu a {
    float: left;
    font-size: 1em;
    font-family: grlight;
    color: #EAEAEA;
    text-decoration: none;
    margin: 1em 0em 1em 1em;
    line-height: 0;
    transition: color 0.3s ease-out;
    
}

.submenu li:hover > a {
    color: #FF80AB
}

@media only screen and (max-width: 30em) {

	
#menu {
        display: block;       
        margin: 0 auto !important;
	float: right;
        text-align: center;
}

#menu li {
    margin: 0 auto !important;
    float: right;
    clear: both;
display: block;      
}

#menu a {
    float: left;
    font-size: 1em;
    font-family: grlight;
    color: #EAEAEA;
    text-decoration: none;
    margin: 1em auto;
    line-height: 0;
    transition: color 0.3s ease-out;
    
}
	
}

